.userinfo {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.profile_img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  object-fit: cover;
}

.icons {
  display: flex;
  gap: 1.25rem;
  img {
    width: 1.25rem;
    cursor: pointer;
  }
}
